# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Training dataset
media/archive (2)/dataset/

# Project backup
KSD.zip
.git_old_backup/

# Generated static files (created by collectstatic)
staticfiles/

# Local database (recreated by `python manage.py migrate`)
db.sqlite3

# Working dataset folders
media/archive (2)/
temp_images/
