# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Training dataset
media/archive (2)/dataset/

# Project backup
KSD.zip
.git_old_backup/

# Generated static files (created by collectstatic)
staticfiles/
